cpp_module/vcpkg_installed/
cpp_module/build/
cpp_module/*.exe
cpp_module/**/*test*.cpp
cpp_module/screenshots
cpp_module/opencv_kernel/
cpp_module/kernel_cache/
python_module/**/*test*.py
python_module/venv/
python_module/.venv/
python_module/ocr/tesstrain
python_module/ocr/traineddata
python_module/pof/workspace
python_module/yolo/temp
python_module/**/__*
python_module/logs/
python_module/**/*.pt
python_module/**/*build*
python_module/**/*dist*
python_module/**/*test*
.vscode/
.venv
.idea
.vs