cpp_module/vcpkg_installed/
cpp_module/build/
cpp_module/deps/
cpp_module/models/yolo/yolov8l.onnx
cpp_module/ai-agent.exe
cpp_module/agent_webcam.exe
cpp_module/agent_screenshot
cpp_module/agent_screenshot.exe
cpp_module/agent_webcam
cpp_module/yoloPro
cpp_module/test.cpp
cpp_module/yolo_Test.cpp
cpp_module/screenshots
cpp_module/opencv_kernel/
cpp_module/kernel_cache/
python_module/venv/
python_module/.venv/
python_module/models/
python_module/yolo_train/*.pt
python_module/yolo_train/model/*.pt
python_module/yolo_train/model/*.onnx
python_module/yolo_train/data
python_module/yolo_train/images/*.png
python_module/yolo_train/images/*.jpg
python_module/yolo_train/labels/*.txt
python_module/yolo_train/classes.txt
python_module/yolo_train/config.yaml
python_module/yolo_train/workspace/*
python_module/yolo_train/runs
python_module/yolo_train/merge/*
python_module/inference.py
build/
vcpkg_installed/
.vscode/
.venv
.idea
.vs