pyyaml
pyautogui==0.9.54 
pynput==1.7.6 
opencv-python 
pytesseract==0.3.13 
schedule==1.2.0 
pillow==10.0.0 
vosk==0.3.45 
transformers==4.35.0
torch==2.2.1 
ultralytics
pyaudio==0.2.14 
numpy==1.26.4